# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml

# Android
android/.gradle/
android/captures/
android/app/release/
android/local.properties
android/key.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Secrets
.env
